version: '3'

services:
    web:
        build: .
        ports:
            - 8080:80
        environment:
            - BEANSTALKD_HOST=beanstalkd
            - BEANSTALKD_PORT=11300
        links:
            - beanstalkd
        volumes:
          - .:/var/www/

    beanstalkd:
        image: kamilzabielski/docker-alpine-beanstalkd
        ports:
            - 11300:11300
        volumes:
            - beanstalkd_data:/var/lib/beanstald

volumes:
    beanstalkd_data:
